body{
  background-color: grey;
}


h1 {
  color: white;
}


.medium_usage {
  width:100px;
  height:50px;
  background-color: black;
}


.low_usage {
  width:100px;
  height:50px;
  background-color: green;
}


.high_usage {
  width:100px;
  height:50px;
  background-color: red;
}
